################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitHubBranchingSpike/bin/Debug
/GitHubBranchingSpike/obj/Debug
